{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1>Create New Page</h1>
<br>

<div class="new_entry">
  <form method="POST">
    {% csrf_token %}
    <label for="title">Please enter the title:</label>
    <br>
    <textarea id="title" name="title" rows="1" cols="32" maxlength="32" required></textarea>
    <br>
    <br>
    <label for="content">Please enter the content:</label>
    <br>
    <textarea id="content" name="content" rows="5" cols="32" maxlength="1024"></textarea>
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}